<%= form_for @item, :html => { :class => 'form-horizontal' } do |f| %>
<div class="span7">
  <div class="control-group">
    <div class="controls input-block-level input-xxlarge">
      <%= f.text_area :description, :size => "80x20", :placeholder => "Lets your thoughts flow..." %>
    </div>
  </div>
</div>

<div class="span2">
    <a href="javascript:void(0)" class="form-submit" onclick="$(this).closest('form').submit();">
      <i class="glyphicon glyphicon-save" style="font-size:36px;"></i>
    </a>
    <br>
    <a href="<%= items_path %>">
      <i class="glyphicon glyphicon-trash" style="font-size:36px;"></i>
    </a>

</div>
<% end %>