<%- model_class = Item -%>
<div class="page-header text-center">
  <h1><%= link_to "S", new_item_path, :class => 'hovicon effect-1 sub-a' %></h1>
</div>
<div class="container">
  <div class="row"><div class="col-md-4">
    <div class="thumbnail" style="height: auto; min-height: 50px;">
      
      <div class="caption">
        <h2>General</h2>
        <% @items.each do |item| %>

        <h5><%= link_to "X", item_path(item), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'pull-right letter-icon', title: "delete" %>
          <!--
            https://github.com/janv/rest_in_place
            -->
            <div id="<%= dom_id item %>">
              <span class="rest-in-place" data-formtype="textarea" data-attribute="description"> 
                <%= item.description %>
              </span> 
            </div>
          </h5>
            
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>