<%- model_class = Item -%>
<div class="page-header">
  <div class="page-header text-center">
    <h1><%= link_to "S", new_item_path, :class => 'hovicon effect-1 sub-a' %></h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail" style="height: 100px; min-height: 100px;">
          <div class="caption">
            <%= link_to "", item_path(item), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'glyphicon glyphicon-trash pull-right' %>
            <%= item.created_at.to_formatted_s(:short)%><br/>
            <%= truncate(item.description, length: 120) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>