<div class="col-md-8 col-md-offset-2">
<center><h2>Welcome to Jug of Water writing app.<br><small>Press the "n" to start writing, hover over letters to see their function.</small></h2></center>
</p>
</div>